body {
	background-color: lavender
}

.header img {
	float: left;
	height: 100px;
	width: 100px;
}

.header h1 {
	position: relative;
	top: 30px;
	left: 20px;
}

.post img {
	height: 400px;
	border-radius: 50%;
}

.post {
	color: slateblue;
	font-size: 20px;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 100px;
	margin-bottom: 100px
}

.post h2 {
	color: salmon;
}

.footer {
	font-size: 20px;
	color: deeppink;
}

#featured h2 {
	color: turquoise;
}